* {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: rgb(230, 227, 223);
    padding-top: 1px;
    padding-bottom: 30px;
}

.navbar li{
    list-style-type: none;
}

.navbar .logoFore {
    display: flex;
    width: 80px;
}

.navbar .tengah{
    display:flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 35px;
}

.navbar .tengah a {
    text-decoration: none;
    color: #006041;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 550;
    font-size: 16px;
    font-style: normal;

}

.navbar .tengah .download{
    padding-left: 2vh;
    padding-right: 2vh;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 50cm;
    border: 1px solid #006041;  

    transition: 0.5s;
}

.navbar .tengah .download:hover{
    color: #fff;
    cursor: pointer;
    background-color: #006041;
}
.hero-promotion {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    background-color: #765b51;
    padding-bottom: 15px;
    padding-top: 15px;
    color: #fff;
}

.hero-promotion li{
    list-style-type: none;
}

.hero-promotion a {
    text-decoration: none;
    color: #765b51;
    font-weight: 650;
}

.visit {
    background-color: #fff;
    padding: 2px 30px;
    border-radius: 50px;
}


.hero {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(230, 227, 223);
}

.gambarKopi {
    width: 14cm;
    margin-top: -25px;
}

.hero .teks .header-1 {
    color: var(--Foliage-Regular, #006041);
    font-family: Plus Jakarta Sans, sans-serif;
    font-style: normal;
    font-size: 90px;
    letter-spacing: -2.7px;
    margin-top: -100px;
    font-size: 100px;
    margin-right: 150px;
}

.hero .teks .header-2 {
    color: var(--Foliage-Regular, #006041);
    font-family: Plus Jakarta Sans, sans-serif;
    font-style: normal;
    width: 20px;
    letter-spacing: -2.7px;
    font-size: 100px;
    margin-top: -45px;
}

.hero .teks .sub-header-1 {
    font-family: "Plus Jakarta Sans", ;
    color: #97a259;
    font-style: normal;
    font-size: 29px;
}

.hero .teks .sub-header-2 {
    font-size: 29px;
    margin-top: -10px;
    font-family: "Plus Jakarta Sans", ;
    color: #97a259;
    font-style: normal;
    line-height: 40px;
}

.hero-banner-promotion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

    background-color: #cdcec6;
    padding: 15.8vh 30vh;
}

.card-banner-promotion {
    background-color: rgba(240, 218, 200, 0.418);
    padding: 4vh;
    border-radius: 8vh;
}

.banner-text {
    text-align: center;
}

.banner-text .head {
    color: var(--Foliage-Regular, #006041);
    font-family: Plus Jakarta Sans, sans-serif;
    font-style: normal;
    letter-spacing: -2.7px;
    font-size: 65px;
}

.banner-text .sub-head {
    font-family: "Plus Jakarta Sans", ;
    color: #97a259;
    font-size: 30px;
    font-style: normal;
    line-height: 40px;
}

.banner-image img{
    width: 40vh;
    margin-top: 50px;
    border-radius: 10%;
}

.banner-image .foto1{
    margin-right: 40px;
}

.banner-image .foto3{
    margin-left: 40px;
}